.list-template {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.back-link {
  width: fit-content;
  padding: 4px 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
